
<section th:fragment="content">
    <div class="header">
        <h2>Nouveau Trajet</h2>
    </div>

    <div class="main">
        <form th:action="@{/api/Trajet/createTrajet}" method="post">
            <div class="form-group">
                <label for="villeDepart">Ville de départ :</label>
                <input type="text" id="villeDepart" name="villeDepart" required>
            </div>
            
            <div class="form-group">
                <label for="villeArrivee">Ville d'arrivée :</label>
                <input type="text" id="villeArrivee" name="villeArrivee" required>
            </div>
            
            <div class="form-group">
                <label for="distance">Distance (km) :</label>
                <input type="number" id="distance" name="distance" required>
            </div>
            
            <div class="form-group">
                <label for="duree">Durée (en minutes) :</label>
                <input type="number" id="duree" name="duree" required>
            </div>
            
            <div class="form-actions">
                <button type="submit">Enregistrer</button>
                <a href="/api/Trajet/list" class="btn-cancel">Annuler</a>
            </div>
        </form>
    </div>
</section>