<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/api/Utilisateur/list">Utilisateurs</a>
    <a href="/api/Vehicule/list">Vehicules</a>
    <a href="/api/Chauffeur/list">Chauffeurs</a>
    <a href="/api/Trajet/list">Trajets</a>
    <a href="/api/Voyage/list">Voyages</a>
    <a href="/api/PrixBillet/list">Prix des Billets</a>
    <a href="/api/Reservation/list">Reservations</a>
</body>
</html>